@import organisms/sobre
<<<<<<< HEAD

=======
@import molecules/textos

header
    background:
	    image: url('../imagem/fundo-slide-pagina-inicial.jpg')
	    position: top center
	    repeat: no-repeat
	    attachment: fixed
>>>>>>> css
